.items {
  display: flex;
  color: #fff;
  gap: 40px;
}

.button {
  display: none;
}

@media (max-width: 640px) {
  .nav {
    display: none;
  }

  .button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
  }
}